import 'package:freezed_annotation/freezed_annotation.dart';

part '{{classFilename}}.freezed.dart';
part '{{classFilename}}.g.dart';

{{!
    Classes with polymorphism or composition may generate unused imports,
    these need to be ignored for said classes so that there are no lint errors.
}}
{{#parentModel}}
// ignore_for_file: unused_import

{{/parentModel}}

{{#isDeprecated}}
@Deprecated('{{{classname}}} has been deprecated')
{{/isDeprecated}}
{{#oneOf}}{{#-first}}
{{#discriminator}}
@Freezed(unionKey: r'{{propertyBaseName}}')
class {{{classname}}} with _${{{classname}}} {
  {{#mappedModels}}
  @FreezedUnionValue(r'{{mappingName}}')
  const factory {{{classname}}}.{{#lambda.camelcase}}{{modelName}}{{/lambda.camelcase}}({required {{modelName}} value}) = {{{classname}}}{{modelName}};
  {{/mappedModels}}
  {{^mappedModels}}
  {{#oneOf}}
  @FreezedUnionValue(r'{{{.}}}')
  const factory {{{classname}}}.{{#lambda.camelcase}}{{.}}{{/lambda.camelcase}}({required {{{.}}} value}) = {{{classname}}}{{{.}}};
  {{/oneOf}}
  {{/mappedModels}}

  factory {{{classname}}}.fromJson(Map<String, dynamic> json) => _${{{classname}}}FromJson(json);
}
{{/discriminator}}
{{^discriminator}}
@freezed
class {{{classname}}} with _${{{classname}}} {
{{>serialization/freezed/dart_constructor}}

  factory {{{classname}}}.fromJson(Map<String, dynamic> json) => _${{{classname}}}FromJson(json);
}
{{/discriminator}}
{{/-first}}{{/oneOf}}
{{^oneOf}}
{{#anyOf}}{{#-first}}
{{#discriminator}}
@Freezed(unionKey: r'{{propertyBaseName}}')
class {{{classname}}} with _${{{classname}}} {
  {{#mappedModels}}
  @FreezedUnionValue(r'{{mappingName}}')
  const factory {{{classname}}}.{{#lambda.camelcase}}{{modelName}}{{/lambda.camelcase}}({required {{modelName}} value}) = {{{classname}}}{{modelName}};
  {{/mappedModels}}
  {{^mappedModels}}
  {{#anyOf}}
  @FreezedUnionValue(r'{{{.}}}')
  const factory {{{classname}}}.{{#lambda.camelcase}}{{.}}{{/lambda.camelcase}}({required {{{.}}} value}) = {{{classname}}}{{{.}}};
  {{/anyOf}}
  {{/mappedModels}}

  factory {{{classname}}}.fromJson(Map<String, dynamic> json) => _${{{classname}}}FromJson(json);
}
{{/discriminator}}
{{^discriminator}}
@freezed
class {{{classname}}} with _${{{classname}}} {
{{>serialization/freezed/dart_constructor}}

  factory {{{classname}}}.fromJson(Map<String, dynamic> json) => _${{{classname}}}FromJson(json);
}
{{/discriminator}}
{{/-first}}{{/anyOf}}
{{^anyOf}}
@freezed
class {{{classname}}} with _${{{classname}}} {
{{>serialization/freezed/dart_constructor}}

  factory {{{classname}}}.fromJson(Map<String, dynamic> json) => _${{{classname}}}FromJson(json);
}
{{/anyOf}}
{{/oneOf}}
{{#vars}}
    {{#isEnum}}
        {{^isContainer}}

{{>serialization/freezed/enum_inline}}

        {{/isContainer}}
        {{#isContainer}}
            {{#mostInnerItems}}

{{>serialization/freezed/enum_inline}}

            {{/mostInnerItems}}
        {{/isContainer}}
    {{/isEnum}}
{{/vars}}
