  /// Returns a new [{{{classname}}}] instance.
  const factory {{{classname}}}({
  {{#vars}}

    {{#description}}
    /// {{{description}}}
    {{/description}}
    {{^isEnum}}
      {{#minimum}}
      // minimum: {{{minimum}}}
      {{/minimum}}
      {{#maximum}}
      // maximum: {{{maximum}}}
      {{/maximum}}
    {{/isEnum}}
    {{#deprecated}}
    @Deprecated('{{{name}}} has been deprecated')
    {{/deprecated}}
    {{^isBinary}}
    @JsonKey(
      {{#defaultValue}}defaultValue: {{{defaultValue}}},{{/defaultValue}}
      name: r'{{{baseName}}}',
      required: {{#required}}true{{/required}}{{^required}}false{{/required}},
      includeIfNull: {{#required}}{{#isNullable}}true{{/isNullable}}{{^isNullable}}false{{/isNullable}}{{/required}}{{^required}}false{{/required}},
    {{#isEnumOrRef}}
    {{#enumUnknownDefaultCase}}
      unknownEnumValue: {{{datatypeWithEnum}}}.unknownDefaultOpenApi,
    {{/enumUnknownDefaultCase}}
    {{/isEnumOrRef}}
    )
    {{/isBinary}}
    {{#isBinary}}
    @JsonKey(includeFromJson: false, includeToJson: false)
    {{/isBinary}}
    {{#defaultValue}}
    @Default({{{defaultValue}}})
    {{/defaultValue}}
    {{#required}}{{^defaultValue}}required {{/defaultValue}}{{/required}}{{#vendorExtensions.x-dart-generic-type}}T{{/vendorExtensions.x-dart-generic-type}}{{^vendorExtensions.x-dart-generic-type}}{{{datatypeWithEnum}}}{{/vendorExtensions.x-dart-generic-type}}{{#vendorExtensions.x-dart-generic-type-nullable}}?{{/vendorExtensions.x-dart-generic-type-nullable}}{{^vendorExtensions.x-dart-generic-type}}{{#required}}{{#isNullable}}?{{/isNullable}}{{/required}}{{^required}}?{{/required}}{{/vendorExtensions.x-dart-generic-type}} {{{name}}},
  {{/vars}}
  {{#vendorExtensions.x-dart-generic-response-base}}
    @JsonKey(includeFromJson: false, includeToJson: false)
    Response<dynamic>? raw,
  {{/vendorExtensions.x-dart-generic-response-base}}
  }) = _{{{classname}}};
