final value = _response.data;
{{#isResponseFile}}
_responseData = value == null ? null : value as {{{returnType}}};
{{/isResponseFile}}
{{^isResponseFile}}
{{#returnProperty}}
_responseData = value == null ? null : {{>serialization/freezed/deserialize_value}};
{{/returnProperty}}
{{^returnProperty}}
_responseData = value == null ? null : deserialize<{{{returnType}}}, {{{returnBaseType}}}>(value, '{{{returnType}}}', growable: true);
{{/returnProperty}}
{{/isResponseFile}}
