{{>header}}
import 'dart:async';
{{#useResultDart}}
import 'package:result_dart/result_dart.dart';
{{/useResultDart}}

{{#includeLibraryTemplate}}api/imports{{/includeLibraryTemplate}}
import 'package:dio/dio.dart';

{{#operations}}
{{#imports}}import '{{.}}';
{{/imports}}

class {{classname}} {

  final Dio _dio;

{{#includeLibraryTemplate}}api/constructor{{/includeLibraryTemplate}}

  {{#operation}}
  /// {{summary}}{{^summary}}{{nickname}}{{/summary}}
  /// {{notes}}
  ///
  /// Parameters:
  {{#allParams}}
  /// * [{{paramName}}] {{#description}}- {{{.}}}{{/description}}
  {{/allParams}}
  /// * [cancelToken] - A [CancelToken] that can be used to cancel the operation
  /// * [headers] - Can be used to add additional headers to the request
  /// * [extras] - Can be used to add flags to the request
  /// * [validateStatus] - A [ValidateStatus] callback that can be used to determine request success based on the HTTP status of the response
  /// * [onSendProgress] - A [ProgressCallback] that can be used to get the send progress
  /// * [onReceiveProgress] - A [ProgressCallback] that can be used to get the receive progress
  ///
  /// Returns a [Future]
  {{#useResultDart}}
  /// containing a [Result] with {{#vendorExtensions.x-dart-result-wrap-response}}a [Response]{{/vendorExtensions.x-dart-result-wrap-response}}{{^vendorExtensions.x-dart-result-wrap-response}}{{#returnType}}a [{{{.}}}]{{/returnType}}{{/vendorExtensions.x-dart-result-wrap-response}}{{#returnType}}{{#vendorExtensions.x-dart-result-wrap-response}} with a [{{{.}}}] as data{{/vendorExtensions.x-dart-result-wrap-response}}{{/returnType}}
  {{/useResultDart}}
  {{^useResultDart}}
  /// containing a [Response]{{#returnType}} with a [{{{.}}}] as data{{/returnType}}
  {{/useResultDart}}
  /// {{#useResultDart}}Returns [Failure] if API call or serialization fails{{/useResultDart}}{{^useResultDart}}Throws [DioException] if API call or serialization fails{{/useResultDart}}
  {{#externalDocs}}
  /// {{description}}
  /// Also see [{{summary}} Documentation]({{url}})
  {{/externalDocs}}
  {{#isDeprecated}}
  @Deprecated('This operation has been deprecated')
  {{/isDeprecated}}
  {{#useResultDart}}{{#vendorExtensions.x-dart-result-wrap-response}}Future<Result<Response<{{{returnType}}}{{^returnType}}void{{/returnType}}>>> {{nickname}}({ {{/vendorExtensions.x-dart-result-wrap-response}}{{^vendorExtensions.x-dart-result-wrap-response}}Future<Result<{{{returnType}}}{{^returnType}}void{{/returnType}}>> {{nickname}}({ {{/vendorExtensions.x-dart-result-wrap-response}}{{/useResultDart}}{{^useResultDart}}Future<Response<{{{returnType}}}{{^returnType}}void{{/returnType}}>> {{nickname}}({ {{/useResultDart}}{{#allParams}}{{#isPathParam}}
    {{#isDeprecated}}@Deprecated('{{paramName}} is deprecated') {{/isDeprecated}}required {{{dataType}}} {{paramName}},{{/isPathParam}}{{#isQueryParam}}
    {{#isDeprecated}}@Deprecated('{{paramName}} is deprecated') {{/isDeprecated}}{{#required}}{{^isNullable}}{{^defaultValue}}required {{/defaultValue}}{{/isNullable}}{{/required}}{{{dataType}}}{{#required}}{{#isNullable}}?{{/isNullable}}{{/required}}{{^required}}?{{/required}} {{paramName}}{{^isContainer}}{{#defaultValue}} = {{{.}}}{{/defaultValue}}{{/isContainer}},{{/isQueryParam}}{{#isHeaderParam}}
    {{#isDeprecated}}@Deprecated('{{paramName}} is deprecated') {{/isDeprecated}}{{#required}}{{^isNullable}}{{^defaultValue}}required {{/defaultValue}}{{/isNullable}}{{/required}}{{{dataType}}}{{#required}}{{#isNullable}}?{{/isNullable}}{{/required}}{{^required}}?{{/required}} {{paramName}}{{^isContainer}}{{#defaultValue}} = {{{.}}}{{/defaultValue}}{{/isContainer}},{{/isHeaderParam}}{{#isBodyParam}}
    {{#isDeprecated}}@Deprecated('{{paramName}} is deprecated') {{/isDeprecated}}{{#required}}{{^isNullable}}required {{/isNullable}}{{/required}}{{{dataType}}}{{#required}}{{#isNullable}}?{{/isNullable}}{{/required}}{{^required}}?{{/required}} {{paramName}},{{/isBodyParam}}{{#isFormParam}}
    {{#isDeprecated}}@Deprecated('{{paramName}} is deprecated') {{/isDeprecated}}{{#required}}{{^isNullable}}required {{/isNullable}}{{/required}}{{{dataType}}}{{#required}}{{#isNullable}}?{{/isNullable}}{{/required}}{{^required}}?{{/required}} {{paramName}},{{/isFormParam}}{{/allParams}}
    CancelToken? cancelToken,
    Map<String, dynamic>? headers,
    Map<String, dynamic>? extra,
    ValidateStatus? validateStatus,
    ProgressCallback? onSendProgress,
    ProgressCallback? onReceiveProgress,
  }) async {
    final _path = r'{{{path}}}'{{#pathParams}}.replaceAll('{' r'{{{baseName}}}' '}', {{#includeLibraryTemplate}}api/query_param{{/includeLibraryTemplate}}.toString()){{/pathParams}};
    final _options = Options(
      method: r'{{#lambda.uppercase}}{{httpMethod}}{{/lambda.uppercase}}',
      {{#isResponseFile}}
      responseType: ResponseType.bytes,
      {{/isResponseFile}}
      headers: <String, dynamic>{
        {{#httpUserAgent}}
        r'User-Agent': r'{{{.}}}',
        {{/httpUserAgent}}
        {{#headerParams}}
        {{^required}}{{^isNullable}}if ({{{paramName}}} != null) {{/isNullable}}{{/required}}r'{{baseName}}': {{paramName}},
        {{/headerParams}}
        ...?headers,
      },
      extra: <String, dynamic>{
        'secure': <Map<String, String>>[{{^hasAuthMethods}}],{{/hasAuthMethods}}{{#hasAuthMethods}}
          {{#authMethods}}{
            'type': '{{type}}',{{#scheme}}
            'scheme': '{{.}}',{{/scheme}}
            'name': '{{name}}',{{#isApiKey}}
            'keyName': '{{keyParamName}}',
            'where': '{{#isKeyInQuery}}query{{/isKeyInQuery}}{{#isKeyInHeader}}header{{/isKeyInHeader}}',{{/isApiKey}}
          },{{/authMethods}}
        ],{{/hasAuthMethods}}
        ...?extra,
      },{{#hasConsumes}}
      contentType: '{{#prioritizedContentTypes}}{{#-first}}{{{mediaType}}}{{/-first}}{{/prioritizedContentTypes}}',{{/hasConsumes}}
      validateStatus: validateStatus,
    );{{#hasQueryParams}}

    final _queryParameters = <String, dynamic>{
      {{#queryParams}}
      {{^required}}{{^isNullable}}if ({{{paramName}}} != null) {{/isNullable}}{{/required}}r'{{baseName}}': {{#includeLibraryTemplate}}api/query_param{{/includeLibraryTemplate}},
      {{/queryParams}}
    };{{/hasQueryParams}}{{#hasBodyOrFormParams}}

    dynamic _bodyData;

    try {
{{#includeLibraryTemplate}}api/serialize{{/includeLibraryTemplate}}
    } catch(error, stackTrace) {
      {{#useResultDart}}
      return Failure(
        DioException(
          requestOptions: _options.compose(
            _dio.options,
            _path,{{#hasQueryParams}}
            queryParameters: _queryParameters,{{/hasQueryParams}}
          ),
          type: DioExceptionType.unknown,
          error: error,
          stackTrace: stackTrace,
        ),
      );
      {{/useResultDart}}
      {{^useResultDart}}
      throw DioException(
         requestOptions: _options.compose(
          _dio.options,
          _path,{{#hasQueryParams}}
          queryParameters: _queryParameters,{{/hasQueryParams}}
        ),
        type: DioExceptionType.unknown,
        error: error,
        stackTrace: stackTrace,
      );
      {{/useResultDart}}
    }{{/hasBodyOrFormParams}}

    {{#useResultDart}}
    Response<Object> _response;
    try {
      _response = await _dio.request<Object>(
        _path,{{#hasBodyOrFormParams}}
        data: _bodyData,{{/hasBodyOrFormParams}}
        options: _options,{{#hasQueryParams}}
        queryParameters: _queryParameters,{{/hasQueryParams}}
        cancelToken: cancelToken,
        onSendProgress: onSendProgress,
        onReceiveProgress: onReceiveProgress,
      );
    } catch (error) {
      if (error is Exception) {
        return Failure(error);
      }
      return Failure(Exception(error.toString()));
    }
    {{/useResultDart}}
    {{^useResultDart}}
    final _response = await _dio.request<Object>(
      _path,{{#hasBodyOrFormParams}}
      data: _bodyData,{{/hasBodyOrFormParams}}
      options: _options,{{#hasQueryParams}}
      queryParameters: _queryParameters,{{/hasQueryParams}}
      cancelToken: cancelToken,
      onSendProgress: onSendProgress,
      onReceiveProgress: onReceiveProgress,
    );
    {{/useResultDart}}
    {{#returnType}}

    {{{.}}}? _responseData;

    try {
{{#includeLibraryTemplate}}api/deserialize{{/includeLibraryTemplate}}
    } catch (error, stackTrace) {
      {{#useResultDart}}
      return Failure(
        DioException(
          requestOptions: _response.requestOptions,
          response: _response,
          type: DioExceptionType.unknown,
          error: error,
          stackTrace: stackTrace,
        ),
      );
      {{/useResultDart}}
      {{^useResultDart}}
      throw DioException(
        requestOptions: _response.requestOptions,
        response: _response,
        type: DioExceptionType.unknown,
        error: error,
        stackTrace: stackTrace,
      );
      {{/useResultDart}}
    }

    {{#useResultDart}}
    {{#vendorExtensions.x-dart-result-wrap-response}}
    final _result = Response<{{{returnType}}}>(
      data: _responseData,
      headers: _response.headers,
      isRedirect: _response.isRedirect,
      requestOptions: _response.requestOptions,
      redirects: _response.redirects,
      statusCode: _response.statusCode,
      statusMessage: _response.statusMessage,
      extra: _response.extra,
    );
    return Success(_result);
    {{/vendorExtensions.x-dart-result-wrap-response}}
    {{^vendorExtensions.x-dart-result-wrap-response}}
    if (_responseData == null) {
      return Failure(
        DioException(
          requestOptions: _response.requestOptions,
          response: _response,
          type: DioExceptionType.unknown,
          error: 'Response body is null',
        ),
      );
    }
    return Success(_responseData);
    {{/vendorExtensions.x-dart-result-wrap-response}}
    {{/useResultDart}}
    {{^useResultDart}}
    final _result = Response<{{{returnType}}}>(
      data: _responseData,
      headers: _response.headers,
      isRedirect: _response.isRedirect,
      requestOptions: _response.requestOptions,
      redirects: _response.redirects,
      statusCode: _response.statusCode,
      statusMessage: _response.statusMessage,
      extra: _response.extra,
    );
    return _result;
    {{/useResultDart}}{{/returnType}}{{^returnType}}
    {{#useResultDart}}
    return Success(Response<void>(
      data: null,
      headers: _response.headers,
      isRedirect: _response.isRedirect,
      requestOptions: _response.requestOptions,
      redirects: _response.redirects,
      statusCode: _response.statusCode,
      statusMessage: _response.statusMessage,
      extra: _response.extra,
    ));
    {{/useResultDart}}
    {{^useResultDart}}
    return _response;
    {{/useResultDart}}{{/returnType}}
  }

  {{/operation}}
}
{{/operations}}
