{{>header}}
// ignore_for_file: unused_element{{#useFreezed}}, invalid_annotation_target{{/useFreezed}}
{{#models}}
    {{#model}}
        {{#imports}}
import '{{.}}';
        {{/imports}}
{{#isEnum}}{{>enum}}{{/isEnum}}{{^isEnum}}{{>class}}{{/isEnum}}
    {{/model}}
{{/models}}
